:host{
  display: flex;
  flex-direction: column;
  padding: 16px;

  input, button{
    margin:8px;
    cursor: pointer;
    border: none;
    padding: 8px;
    text-align: center;
  }

  button{
    color:white;
    background-color: #f49c00;
  }



}
