<div>

  <form>

    <div [routerLink]="[ '/users',  ]" mat-subheader>Users!</div>

    <input name="name" placeholder="Name" type="text" [(ngModel)]="user.name">

    <input name="email" placeholder="E-mail" type="text" [(ngModel)]="user.email">

    <input name="cpf" placeholder="CPF" type="text" [(ngModel)]="user.cpf">

    <input name="password" placeholder="Passowrd" type="password" [(ngModel)]="user.password">

    <button (click)="save()" [disabled]="!user.password">Save</button>

  </form>


</div>
<div>

</div>
