<mat-list>

  <div mat-subheader>Users!</div>

  <mat-list-item *ngFor="let user of users">

    <mat-icon [routerLink]="['/users/form/', user.id]" mat-list-icon>account_circle</mat-icon>

    <div mat-line>{{user?.name}},
      <span style="color:grey">
        {{user?.email}}
      </span>
    </div>

    <mat-icon (click)="delete(user)" style="color: red">delete</mat-icon>

  </mat-list-item>

  <mat-divider></mat-divider>

</mat-list>


<button class="float" [routerLink]="['/users/form']" routerLinkActive="router-link-active"  mat-fab>
  <mat-icon>add</mat-icon>
</button>
