/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-icon{
  cursor: pointer;
}

input, button{
  margin:8px;
  cursor: pointer;
  border: none;
  padding: 8px;
  text-align: center;


  &:disabled{
    background-color: rgb(221, 217, 217);
  }
}

button{
  color:white;
  background-color: #f49c00;
}
