:host {
  display: grid;
  justify-content: center;

  .float {
    position: absolute;
    bottom: 12px;
    right: 12px;
    background-color: #f49c00 !important;
  }

  .search{
    box-shadow: 1px 1px 1px 1px #3f3f3f3b;
    border-radius: 8px;
    width: 90vw;
    margin: 16px;
    position: relative;
  }
}
